html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 934px; }

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.header {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  line-height: 75px;
  background: black;
  color: #f1ffff; }

.header a {
  padding-left: 15px;
  padding-right: 15px;
  border-right: solid white 2px;
  text-decoration: none;
  font-size: 2rem; }

.header a:visited {
  color: white; }

.filler {
  flex-grow: 1; }

.name {
  font-size: 3.5rem;
  text-align: right;
  margin-right: 20px;
  margin-left: 20px;
  white-space: nowrap;
  line-height: 90px;
  font-family: 'Great Vibes', cursive; }

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
.homeContent {
  flex-grow: 1;
  height: 25%;
  width: 100%;
  background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }

/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }

/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }
