html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  min-width: 934px; }

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #d7d6d6; }

/*
.header{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    background:black;
    color:$SantaGray;
    
}
*/
.headerContainer a {
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 75px;
  height: 75px;
  color: white; }

.borderLink {
  border-left: solid #d7d6d6 2px; }

.header a:visited {
  color: #d7d6d6; }

.filler {
  flex-grow: 1; }

.name {
  font-size: 4rem;
  text-align: right;
  margin-right: 30px;
  margin-left: 20px;
  white-space: nowrap;
  line-height: 90px;
  font-family: 'Great Vibes', cursive;
  color: #dfbc49; }

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
.pageContainer {
  flex-grow: 1;
  height: 25%;
  width: 100%;
  background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }

/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }

.textContent {
  width: 50%;
  height: 100%;
  background: pink; }

.calendarContent {
  width: 50%;
  height: 100%; }

/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent {
  flex-grow: 1;
  height: 10%;
  width: 100%;
  background: #f1ffff; }
