html, body{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    min-width:934px;
    
}

.header{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    background:black;
}

.header a{
    color:white;
    padding-left:15px;
    padding-right:15px;
    border-right: solid white 2px;
    line-height:75px;
    text-decoration:none;
    font-size:2rem;
}

.filler{
  flex-grow:1;  
}

.name{
  font-size:3rem;
  text-align:right;
  margin-right:20px;
  margin-left:20px;
  white-space: nowrap;
}

.homeContent{
    flex-grow:1;
    height:25%;
    width:100%;
    background: url("http://i.huffpost.com/gen/2339018/images/o-SANTA-CLAUS-LIST-facebook.jpg") no-repeat top center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
