html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.header{
    height:100px;
    width:100%;
    background:black;
}

.headerLink{
    color:white;
    padding:2%;
    border-right: solid white 2px;
    font-size:1.5rem;
}
