$CreamColor: #f1ffff;
$SantaRed: #d00008;
$SantaGold: #dfbc49;
$SantaGray: #d7d6d6;

/* ================================================= */
/* SITE WIDE STYLE */
/* ================================================= */
html, body{  
    padding:0;
    margin:0;
    height:100%;
}
.pageContainer{
    display:flex;
    flex-direction:column;
    flex-grow:1;
    height:100%;
}

.contentContainer{
    flex-grow:1;
    display:flex;
    flex-direction:column;
    align-items:center;
}

h1{
    font-family: 'Great Vibes', cursive;
    text-align:center;
    color:$SantaGold;
    font-size:3em;
    margin-top:20px;
    margin-bottom:20px;
}

::-webkit-scrollbar {
    width: 12px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(225, 225, 225, 0.6); 
border-radius: 10px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer{
    display:flex;
    flex-direction:row;
    height:75px;
    background:rgba(0, 0, 0, 0.6);
    transition:.5s;
}
.linkContainer{
    width:100vw;
    display:flex;
}
#home{
    display:none;
    border:none;
}
#santa{
    font-family: 'Great Vibes', cursive;
    font-size:3em;
    border:none;
    line-height:90px;
}
.headerContainer .borderLink{
    
    text-decoration:none;
    text-align:center;
    font-size:1.8rem;
    line-height:75px;
    height:75px;
    //margin-top:14px;
    //font-family: 'Lato', sans-serif;
    color:white;
    cursor: pointer;
    flex-grow:1;
    flex-wrap:nowrap;
    transition:.5s;
}
.borderLink{
    border-left: solid $SantaGray 2px;
}
.filler{
  display:none; 
}
.name{
    display:none;
}

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
#homeContainer{
    background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top fixed; 
    background-position: 25% 50%; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent{
    display:none;
    flex-direction:column;
    background:rgba(0, 0, 0, 0.6);
    margin:5%;
    border:2px solid $SantaRed;
    height:80vh;
}
#aboutText{
    padding:5%;
    flex-grow:1;
    margin:0 auto;
    overflow:auto;
}
#aboutText p{
    text-align:center;
    font-size:1.4em;
    color:white;
    padding:25px;  
}

/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent{
    display:none;
    flex-direction:column;
    margin:5%;
    border:2px solid $SantaRed;
    height:80vh;
    background:rgba(0, 0, 0, 0.6);
}
.calendarContent{
    width:50%;
    height:100%;
}
#contactText{
    height:50%;
    padding-left:20px;
    padding-right:20px;
    overflow:auto;
}

#contactText #text{
    margin:0 auto;
}
#contactText p{
    text-align:center;
    color:white;  
}
#question{
    margin-top:0;
    font-size:1.2em;
}
#linkTip{
    font-size:1em;
}
#linkContainer{
    width:100%;
    margin-top:20px;
    margin-bottom:15px;
}
#mailLink{
    width:15%;
    margin-left:43.5%;
}
#calendar{
    height:50%;
    width:100%;
}

/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent{
    display:none;
    flex-direction:column;
    background:rgba(0, 0, 0, 0.6);
    margin:5%;
    border:2px solid $SantaRed;
    height:80vh;
}

.numberLink{
    margin-left:10px;
    margin-right:10px;
    cursor: pointer;
}

#galleryLinkContainer{
    display: inline;
    font-size:2em;
    color:white;
    text-align:center;
    margin-bottom:20px;
}

#eightteen{
    color:$SantaRed;
}

#gb18{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow:auto;
}

#gb17{
    display:none;
    flex-wrap:wrap;
    justify-content: center;
    overflow:auto;
}

#gb16{
    display:none;
    flex-wrap:wrap;
    justify-content: center;
    overflow:auto;
}

.thumbnail{
    margin:20px;
    height:100px;
    width:100px;
    border:2px;
    border-style:solid;
    border-radius:10px;
    border-color:white;
    cursor: pointer;
}
.photoContainer{
    display:none;
    height:100%;
    width:100%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background:black;
}
.image{
    align-self:center;
    width:90vw;
    padding:10px;
    border:2px solid white;
}
.close{
    height:30px;
    position:absolute;
    top:0;
    right:0;
    margin:20px;
    cursor: pointer;
}

/* ================================================= */
/* PHOTO CREDIT */
/* ================================================= */
.photoCredit{
    position:absolute;
    text-align:center;
    right:0px;
    bottom:0px;
    background:rgba(0, 0, 0, 0.6);
    color:rgba(255, 255, 255, 0.6);
}