html, body{
    height:100%;
    width:100%;
    margin:0;
    padding:0;
}

.header{
    height:75px;
    width:100%;
    background:black;
}

.header a{
    color:white;
    padding:1%;
    border-right: solid white 2px;
    line-height:75px;
    text-decoration:none;
    font-size:1.5rem;
}
