$CreamColor: #f1ffff;
$SantaRed: #d00008;
$SantaGold: #dfbc49;
$SantaGray: #d7d6d6;

html, body{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    margin:0;
    padding:0;    
}

::-webkit-scrollbar {
    width: 12px;
} /* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
    background-color: transparent;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
    background-color: rgba(225, 225, 225, 0.6); 
border-radius: 10px;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-corner {
    background-color: transparent;
}

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    background:rgba(0, 0, 0, 0.6);
    color:$SantaGray;
    transition:.5s;
}
#santa{
    display:none;
}

.headerContainer .borderLink{
    padding-left:30px;
    padding-right:30px;
    text-decoration:none;
    font-size:1.8rem;
    line-height:75px;
    height:75px;
    //margin-top:14px;
    //font-family: 'Lato', sans-serif;
    color:white;
    cursor: pointer;
    flex-grow:1;
    flex-wrap:nowrap;
    transition:.5s;
}

.borderLink{
    border-left: solid $SantaGray 2px;
}

.header a:visited{
    color:$SantaGray;
}

.filler{
  flex-grow:1;  
}
.linkContainer{
    display:flex;
}
.name{
  font-size:4rem;
  text-align:right;
  margin-right:30px;
  margin-left:20px;
  white-space: nowrap;
  line-height:90px;
  font-family: 'Great Vibes', cursive;
  //font-family: 'Leckerli One', cursive;
  //letter-spacing:.05em;
  color:$SantaGold;
    transition:.5s;
}

/* ================================================= */
/* SITE WIDE STYLE */
/* ================================================= */
.pageContainer{
    display:flex;
    flex-direction:column;
    flex-grow:1; 
}

.contentContainer{
    flex-grow:1;
    display:flex;
    align-items:center;
}

h1{
    font-family: 'Great Vibes', cursive;
    text-align:center;
    color:$SantaGold;
    font-size:3em;
    margin-top:50px;
    margin-bottom:50px;
}

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
#homeContainer{
    background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent{
    display:none;
    flex-direction:column;
    margin:auto;
    height:80vh;
    width:80vw;
    background:rgba(0, 0, 0, 0.6);
    border-radius:10px;
}
#aboutText{
    width:50%;
    margin:0 auto;
    overflow:auto;
}
#aboutText p{
    text-align:center;
    color:white; 
    font-size:1.4em;
    padding:25px;
}
/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent{
    display:none;
    margin:auto;
    height:80vh;
    width:80vw;
    
    border-radius:10px;
    
}
.calendarContent{
    width:50%;
    height:100%;
}
#contactText{
    width:50%;
    border-radius:10px 0px 0px 10px;
    padding:20px;
    background:rgba(0, 0, 0, 0.6);
    overflow:auto;
}

#contactText #text{
    width:50%;
    margin:0 auto;
}
#contactText p{
    text-align:center;
    color:white;  
}
#question{
    font-size:1.4em;
}
#linkTip{
    font-size:1em;
}
#linkContainer{
    width:100%;
    margin-top:50px;
    margin-bottom:20px;
}
#mailLink{
    width:20%;
    margin-left:39.5%;
}
#calendar{
    height:100%;
    width:50%;
    border-radius:10px;
}
/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent{
    display:none;
    flex-direction:column;
    margin:auto;
    height:80vh;
    width:80vw;
    background:rgba(0, 0, 0, 0.6);
    border-radius:10px;
}
#thumbnailContainer{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    overflow:auto;
}
.thumbnail{
    margin:20px;
    height:200px;
    width:200px;
    border:2px;
    border-style:solid;
    border-radius:10px;
    border-color:white;
    cursor: pointer;
}
.photoContainer{
    display:none;
    height:100%;
    width:100%;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    background:black;
}
.image{
    align-self:center;
    height:90vh;
    padding:10px;
    border:2px solid white;
}
.close{
    height:30px;
    position:absolute;
    top:0;
    right:0;
    margin:20px;
    cursor: pointer;
}