$CreamColor: #f1ffff;
$SantaRed: #961213;

html, body{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    min-width:934px;
    
}

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.header{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    line-height:85px;
    background:black;
    color:$CreamColor;
    font-family: 'Great Vibes', cursive;
}

.header a{
    padding-left:15px;
    padding-right:15px;
    border-right: solid white 2px;
    text-decoration:none;
    font-size:2.3rem;
}

.header a:visited{
    color:white;
}

.filler{
  flex-grow:1;  
}

.name{
  font-size:3.5rem;
  text-align:right;
  margin-right:20px;
  margin-left:20px;
  white-space: nowrap;
}

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
.homeContent{
    flex-grow:1;
    height:25%;
    width:100%;
    background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent{
    flex-grow:1;
    height:10%;
    width:100%;
    background:$CreamColor;
}
/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent{
    flex-grow:1;
    height:10%;
    width:100%;
    background:$CreamColor;
}
/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent{
    flex-grow:1;
    height:10%;
    width:100%;
    background:$CreamColor;
}