$CreamColor: #f1ffff;
$SantaRed: #d00008;
$SantaGold: #dfbc49;
$SantaGray: #d7d6d6;

html, body{
    display:flex;
    flex-direction:column;
    height:100%;
    width:100%;
    margin:0;
    padding:0;
    min-width:934px;
    
}

/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    background:rgba(0, 0, 0, 0.5);
    color:$SantaGray;
}
/*
.header{
    display:flex;
    flex-direction:row;
    height:75px;
    width:100%;
    background:black;
    color:$SantaGray;
    
}
*/

.headerContainer .borderLink{
    padding-left:30px;
    padding-right:30px;
    text-decoration:none;
    font-size:1.8rem;
    line-height:75px;
    height:75px;
    //margin-top:14px;
    //font-family: 'Lato', sans-serif;
    color:white;
}

.borderLink{
    border-left: solid $SantaGray 2px;
}

.header a:visited{
    color:$SantaGray;
}

.filler{
  flex-grow:1;  
}

.name{
  font-size:4rem;
  text-align:right;
  margin-right:30px;
  margin-left:20px;
  white-space: nowrap;
  line-height:90px;
  font-family: 'Great Vibes', cursive;
  //font-family: 'Leckerli One', cursive;
  //letter-spacing:.05em;
  color:$SantaGold;
}

/* ================================================= */
/* SITE WIDE STYLE */
/* ================================================= */
.pageContainer{
    display:flex;
    flex-direction:column;
    flex-grow:1; 
}

.contentContainer{
    flex-grow:1;
    display:flex;
    align-items:center;
}

/* ================================================= */
/* HOME BODY STYLE */
/* ================================================= */
#homeContainer{
    background: url("http://i.imgur.com/HZMAy4e.jpg") no-repeat top center fixed;  
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
.aboutContent{
    display:none;
    margin:auto;
    height:80vh;
    width:80vw;
    background:rgba(0, 0, 0, 0.5);
    border-radius:10px;
}
/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
.contactContent{
    display:none;
    margin:auto;
    height:80vh;
    width:80vw;
    background:rgba(0, 0, 0, 0.5);
    border-radius:10px;
}
.textContent{
    width:50%;
    height:100%;
    background:pink;
}
.calendarContent{
    width:50%;
    height:100%;
}
/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.photosContent{
    display:none;
    margin:auto;
    height:80vh;
    width:80vw;
    background:rgba(0, 0, 0, 0.5);
    border-radius:10px;
}