/* ================================================= */
/* SITE WIDE STYLE */
/* ================================================= */
h1{
    font-size:2.5em;
}
/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer .borderLink{
    font-size:1.2rem;
    transition:.5s;
}
/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
#aboutText p{
    font-size:1em;  
}
/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
#question{
    font-size:1em;
}
#linkTip{
    font-size:.8em;
}
/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.thumbnail{
    height:75px;
    width:75px;
}

/* ================================================= */
/* PHOTO CREDIT */
/* ================================================= */
.photoCredit{
    font-size:.5em;
}