html, body{
    height:100vh;
    width:100vw;  
}
/* ================================================= */
/* HEADER STYLE */
/* ================================================= */
.headerContainer{
    height:50px;  
    transition:.5s;
}

.name{
    font-size:1.5rem;
    line-height:60px;
    transition:.5s;
}

.headerContainer .borderLink{
    padding-left:15px;
    padding-right:15px;
    line-height:50px;
    height:50px;
    font-size:.8rem;
    flex-grow:1;
    flex-wrap:nowrap;
    transition:.5s;
}

/* ================================================= */
/* SITE WIDE STYLE */
/* ================================================= */
h1{
    font-size:1.5em;
    margin-top:25px;
    margin-bottom:25px;
}

/* ================================================= */
/* ABOUT BODY STYLE */
/* ================================================= */
#aboutText{
    width:60%;
}
#aboutText p{
    font-size:1em;
}

/* ================================================= */
/* CONTACT BODY STYLE */
/* ================================================= */
#contactText #text{
    width:60%;
}
#question{
    font-size:.8em;
}
#linkTip{
    font-size:.6em;
}
#linkContainer{
    margin-top:25px;
    margin-bottom:10px;
}

/* ================================================= */
/* PHOTOS BODY STYLE */
/* ================================================= */
.thumbnail{
    height:100px;
    width:100px;
}

/* ================================================= */
/* PHOTO CREDIT */
/* ================================================= */
.photoCredit{
    font-size:.5em;
}